<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
{% load comment_tags %}
{% load i18n %}

<div id="{{ comment.urlhash }}" class="js-updated-comment {% if comment.has_flagged_state or comment.deleted %}flagged-comment {% endif %}{% block content_wrapper_cls %}{% if has_valid_profile %}col-9 col-md-10{% else %}co-11 mx-3{% endif %}{% endblock content_wrapper_cls %}">
    {% block comment_content %}
    {% render_content comment user %}
    {% endblock comment_content %}
    {% get_username_for_comment comment as username %}
    <div class="{% block footer_wrapper_cls %}mt-2 text-muted{% endblock footer_wrapper_cls %}">
        <small>
            {% get_profile_url comment as profile_url %}
            <{% if comment.user %}a{% else %}span{% endif %}
                class="{% block username_cls %}{% endblock username_cls %}" {% if profile_url %}href="{{ profile_url }}"{% endif %}
                title="{% if comment.user %}{% blocktrans %}view {{ username }} profile{% endblocktrans %}{% else %}{% trans 'comment by anonymous user' %}{% endif %}"
            >
                {{ username }}
            </{% if comment.user %}a{% else %}span{% endif %}> |
            {% if comment.is_edited %}
                <span class="font-italic" title="{% trans 'Edited' %}">{% blocktrans with edited_time=comment.edited|timesince %}Edited: {{ edited_time }} ago{% endblocktrans %}</span>
            {% else %}
                <span class="font-italic" title="{% trans 'Posted' %}">{% blocktrans with posted_time=comment.posted|timesince %}{{ posted_time }} ago{% endblocktrans %}</span>
            {% endif %}
            {% can_delete_comment comment user as can_delete %}
            {% if comment.user == user %}
                | {% include 'comment/comments/edit_icon.html' %}
                {% include 'comment/comments/delete_icon.html' %}
            {% elif can_delete %}
                | {% include 'comment/comments/delete_icon.html' %}
            {% endif %}
            {% if can_delete %}
                {% if comment.is_flagged %}
                    {% include 'comment/comments/reject_icon.html' %}
                    {% if comment.is_edited %}
                        {% include 'comment/comments/resolve_icon.html' %}
                    {% endif %}
                {% endif %}
            {% endif %}
            <!--{% if user|can_block_users %}
                {% include 'comment/block/block_icon.html' %}
            {% endif %}-->

                {% if comment.user == user and is_subscription_allowed %}
                    <div class="{% block follow_icon_wrapper_cls %}d-inline ml-3{% endblock follow_icon_wrapper_cls %}">
                        {% include 'comment/follow/follow.html' with model_object=comment btnId=comment.id %}
                    </div>
                {% endif %}
        </small>
        <div style="display:flex;justify-content:space-between;">
            {% include "comment/reactions/reactions.html" with comment=comment %}
            {% if comment.get_level < 4 and comment.public  %}
            <div>
                <a class="w3-button js-reply-link" href="#">
                     <i class="fas fa-reply"></i> Antworten
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
